html, body {
  background: black;
  color: #00b800;
  font-family: 'Press Start 2P', "Courier New", cursive;
  text-align: center;
  padding-top: 10px;
}

body {
  font-weight: bolder;
}

button {
  font-family: "Press Start 2P", "Courier New";
  background: #00b800;
  font-weight: bolder;
  font-size: 40px;
  display: block;
  margin: auto;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

textarea {
  font-family: "Press Start 2P", "Courier New";
  font-size: 20px;
  font-weight: bolder;
  width: 90%;
  height: 200px;
  outline: none;
  border: 3px solid black;
  background: #00b800;
  margin: auto;
  padding: 10px;
}